body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    background-color: #FFC0CB;
    color: #000000;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(255, 253, 253, 0.3);
}

.header {
    text-align: center;
    margin-bottom: 20px;
}

.photo {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin: 0 auto 10px;
}

h1 {
    font-size: 24px;
    margin: 0;
}

h2 {
    font-size: 18px;
    margin-bottom: 10px;
}

.section {
    margin-bottom: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

th, td {
    border: 1px solid #fff;
    padding: 10px;
    text-align: left;
}

th {
    background-color: #f70eef;
}

a {
    color: #fff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}